@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 768px;
    margin: auto; /* <--- ESTO TE LO TENÉS QUE APRENDER */
    background-color: #2a172b;
    color: hsl(290, 80%, 86%);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}
h1{
    color: hsl(320, 90%, 70%);
}