@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Figtree", sans-serif;
    color: #0B1E46;
}

/* header */
header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

        header div nav a{
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            padding: 8px;
        }

/* main */
main{
        min-height: 800px;
}

/* hero banner */
    #hero-banner{
        height: 680px;
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dtt
    */
        background: #5B86E5;
        background: linear-gradient(180deg, #5B86E5, #37D2DC);
    }
        #hero-banner section{
            width: 1100px;
            height: 680px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            #hero-banner section article{
                width: 550px;
                color: white;
            } 
                #hero-banner section article h1{
                    font-weight: 400;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                #hero-banner section article p{
                    width: 478px;
                    font-weight: 600;
                    font-size: 40px;
                }

/* sección servicios */
    #servicios{
        width: 1100px;
        height: 424px;
        margin: 72px auto 0px auto;
        padding: 32px 24px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }            
        #servicios h3{
            width: 100%;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }    
        #servicios article{
            width: 336px;
            padding: 24px 28px;
            border: 2px solid #07B2FF;
            border-radius: 8px;
            color: #07B2FF;
        }
            #servicios article h2{
                font-weight: 300;
                margin-top: 24px;
            }
            #servicios article p{
                margin: 16px 0px 8px 0px;
            }
            #servicios article a{
                text-decoration: none;
                color: #07B2FF;
            }

/* sección portfolio */
    #portfolio{
        width: 1100px;
        margin: 72px auto 0px auto;
        padding: 32px 0px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        #portfolio h1{
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
        }
        #portfolio article{
            width: 340px;
            height: 340px;
            margin-top: 32px;
            padding-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: end;
        }
        #portfolio-1{
            background-image: url(../imgs/portfolio-1.png);
        }
        #portfolio-2{
            background-image: url(../imgs/portfolio-2.png);
        }
        #portfolio-3{
            background-image: url(../imgs/portfolio-3.png);
        }
        #portfolio-4{
            background-image: url(../imgs/portfolio-4.png);
        }
        #portfolio-5{
            background-image: url(../imgs/portfolio-5.png);
        }
        #portfolio-6{
            background-image: url(../imgs/portfolio-6.png);
        }

        #portfolio article a{
            display: block;
            width: 288px;
            padding: 8px 16px;
            background-color: #fff;
            border-right: 32px solid #07B2FF;
            border-radius: 8px;

            color: #0B1E46;
            font-size: 24px;
            font-weight: 600;
            text-decoration: none;
        }
            #portfolio  h2{
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: 400;
                color: #07B2FF;
            }

/* footer */
footer{
    background-color: #0B1E46;
    margin-top: 72px;
}
    footer div{
        width: 1100px;
        height: 216px;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        footer div nav a{
            margin: 16px;
        }
    