@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Figtree", sans-serif;
    color: #0B1E46;
}

/* header */
header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

        header div nav a{
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            padding: 8px;
        }