*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
    background-color: hsl(81, 48%, 11%);
    color: hsl(81, 70%, 80%);
}
    main{
        width: 768px;
        margin: 40px auto;
        min-height: 700px;
        padding: 16px;
        background-color: hsl(81, 48%, 6%);;
    }
        section{
            margin: 24px 0px;
            background-color: hsl(81, 48%, 18%);
        }
